@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
:root {
  --primary-color-magenta: hsl(300, 43%, 22%);
  --primary-color-pink: hsl(333, 80%, 67%);
  --secondary-color-magenta: hsl(303, 10%, 53%);
  --secondary-color-gray: hsl(300, 24%, 96%);
  --secondary-color-white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
body {
  font-size: 15px;
  font-family: "League Spartan";
  background: url("images/bg-pattern-top-desktop.svg"),
    url("images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  height: 100vh;
}